In [1]:
import requests
import json
import datetime
import pandas as pd
import psycopg2
import time
import smtplib
s = smtplib.SMTP('smtp.gmail.com', 587)
s.starttls()
s.login("vaccine.alerts.india@gmail.com", "Bittu@1125")
conn = psycopg2.connect(database="vlpaxxyk",
  user="vlpaxxyk",
  password="Hdaq9BzSKi41IA63cS-8W7xbkRCl6mKs",
  host="queenie.db.elephantsql.com",
  port="5432"
)
cur = conn.cursor()

In [2]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://vlpaxxyk:Hdaq9BzSKi41IA63cS-8W7xbkRCl6mKs@queenie.db.elephantsql.com:5432/sqlalchemy')

In [6]:
def fetchData(pincode,date):
    api_url = "https://cdn-api.co-vin.in/api/v2/appointment/sessions/public/calendarByPin"
    params = {
    'pincode':pincode,
    'date':date
    }
    headers = { 
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.93 Safari/537.36',
    }
    r= requests.get(url=api_url,params=params, headers=headers)
    return r

In [4]:
def send_email(pin_code,age_grp,avail_slots):
    exe_msg = str(pin_code)+"\n"+"Age group - "+str(age_grp)+"\n"+"Slots available - "+str(avail_slots)
    #recipients = ['gopishmundada@gmail.com', 'bittumundada@gmail.com']
    message = """\
Subject: Vaccine_Alert_Jalna

Hello,
Please find below details for vaccines
    
pincode - """+exe_msg
    print(message)

    # sending the mail
    #s.sendmail("mundadaga@gmail.com", recipients, message)

In [5]:
def create_msg(jsonData,pin_code):
    avail_data_45=avail_data_18=0
    for x in range (len(jsonData['centers'])):
        for y in range (len(jsonData['centers'][x]['sessions'])):
            if jsonData['centers'][x]['sessions'][y]['min_age_limit'] == 45:
                avail_data_45+= jsonData['centers'][x]['sessions'][y]['available_capacity']
            else:
                avail_data_18+= jsonData['centers'][x]['sessions'][y]['available_capacity']
            #send_email(msg)'''
    if avail_data_18 > 0:
        send_email(pin_code,"18+",avail_data_18)
    if avail_data_45 >= 0:
        print(avail_data_45)
        send_email(pin_code,"45+",avail_data_45)

In [6]:
df = pd.read_sql_query('select pincode from pincodes',con=conn)
for i,row in df.iterrows():
    try:
        pin_code = str(row['pincode'])
        base_today = (datetime.datetime.today()).strftime("%d-%m-%Y")
        data_today  = fetchData(pin_code,base_today)
        jsonData = data_today.json()
        create_msg(jsonData,pin_code)
    except:
        print("",end='')

DatabaseError: Execution failed on sql 'select distinct pincode from subscribers': column "pincode" does not exist
LINE 1: select distinct pincode from subscribers
                        ^

In [69]:
#s.quit()

In [25]:
df = pd.read_sql_query('select * from pincodes',con=conn)
print(df,"\n\n")
for i,row in df.iterrows():
    try:
        
        if row['last_mail_sent'] == None or ((datetime.now() - row['last_mail_sent']).total_seconds() / 60) > 30:
            pin_code = str(row['pincode'])
            print(pin_code)
    except:
        print()

   pincode last_mail_sent
0   431203           None


431203

In [10]:
from datetime import datetime # Current date time in local system 
print(datetime.now().strftime("%d-%m-%y %H-%M-%S"))

17-05-21 21-36-33

In [11]:
cur.execute("""INSERT INTO pincodes (last_mail_sent) VALUES (%s);""",(datetime.now().strftime("%d-%m-%y %H:%M:%S")))

TypeError: not all arguments converted during string formatting

In [2]:
df = pd.read_sql_query('select * from subscribers',con=conn)

In [31]:
df

,id,email,sub_18,sub_45,name,phone
0,1,gopi@gmail.com,True,False,Gopi,None
1,2,adf@emial.com,False,False,sadf,None
2,3,sad2@mail.com,False,False,askj,None
3,4,asd@af.c,True,False,asdf,None
4,5,sagd@asd.com,False,True,sadfs,None
5,6,jhablk@gmaiod.com,False,True,asdjhg,None
6,7,shegaonkar.akshay2@gmail.com,True,True,Akshy Shegonkar,None
7,8,shegaonkar.akshay2@gmail.com,True,True,Akshay Shegaonkar,None
8,9,shegaonkar.akshay2@gmail.com,True,False,akshay sheghonakr,None
9,10,sheaonkar.akshay2@gmail.com,True,False,akshay shegioankalr,None
10,11,shegaonkar.akshay2@gmail.com,False,True,akshay shegaonkar,None
11,12,shegaonkar.akshay2@gmail.com,True,True,akshay segkn,None
12,13,shegaonkar.akshay2@gmail.com,False,True,akshay shegaonkar,None
13,14,shegaonkar.akshay2@gmail.com,False,True,asdfgerc,None
14,15,shegaonkar.akshay2@gmail.com,False,True,saklsjd,None
15,16,shegaonkar.akshay2@gmail.com,True,True,akshay,None
16,17,shegaonkar.akshay2@gmail.com,True,True,akshay s,None
17,18,shegaonkar.akshay2@gmail.com,True,False,akshy,None
18,19,shegaonkar.akshay2@gmail.com,True,False,aksha,None
19,20,shegaonkar.akshay2@gmail.com,False,True,akshay segap,None
20,21,shegaonkar.akshay2@gmail.com,False,True,aksha,None
21,22,shegaonkar.akshay2@gmail.com,True,False,akshay,None
22,23,shegaonkar.akshay2@gmail.com,False,True,akshay shjegonkar,None
23,24,shegaonkar.akshay2@gmail.com,False,True,akshay shjegonkar,None
24,25,Shegaonkar.akshay2@gmail.com,True,True,akshay,None
25,26,appel123d@gmail.com,True,True,apple,None

In [2]:
base_today = (datetime.datetime.today()).strftime("%d-%m-%Y")
base_today

'17-05-2021'

In [7]:
#pin_code = str(row['pincode'])
base_today = (datetime.datetime.today()).strftime("%d-%m-%Y")
data_today  = fetchData('431203',base_today)
jsonData = data_today.json()
print(jsonData)#create_msg(jsonData,pin_code)

{'centers': [{'center_id': 244135, 'name': 'PHC Viregaon', 'address': 'Primary Health Center Viregaon', 'state_name': 'Maharashtra', 'district_name': 'Jalna', 'block_name': 'Jalna', 'pincode': 431203, 'lat': 19, 'long': 75, 'from': '10:00:00', 'to': '17:00:00', 'fee_type': 'Free', 'sessions': [{'session_id': 'd4c86ae1-a16a-4dca-8a7e-b6a8ca6e298c', 'date': '17-05-2021', 'available_capacity': 0, 'min_age_limit': 45, 'vaccine': 'COVISHIELD', 'slots': ['10:00AM-12:00PM', '12:00PM-02:00PM', '02:00PM-04:00PM', '04:00PM-05:00PM'], 'available_capacity_dose1': 0, 'available_capacity_dose2': 0}]}]}