In [10]:
'''import requests
import json
import datetime
import pandas as pd
import psycopg2
import time
import smtplib
s = smtplib.SMTP('smtp.gmail.com', 587)
s.starttls()
s.login("vaccine.alerts.india@gmail.com", "")
conn = psycopg2.connect(database="vlpaxxyk",
  user="vlpaxxyk",
  password="Hdaq9BzSKi41IA63cS-8W7xbkRCl6mKs",
  host="queenie.db.elephantsql.com",
  port="5432"
)
cur = conn.cursor()
'''
from sqlalchemy import create_engine
engine = create_engine('postgresql://vlpaxxyk:Hdaq9BzSKi41IA63cS-8W7xbkRCl6mKs@queenie.db.elephantsql.com:5432/sqlalchemy')

In [28]:
def fetchData(pincode,date):
    api_url = "https://cdn-api.co-vin.in/api/v2/appointment/sessions/calendarByPin"
    params = {
    'pincode':pincode,
    'date':date
    }
    headers = { 
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.93 Safari/537.36',
    }
    r= requests.get(url=api_url,params=params, headers=headers)
    return r

In [90]:
def send_email(pin_code,age_grp,avail_slots):
    exe_msg = str(pin_code)+"\n"+"Age group - "+str(age_grp)+"\n"+"Slots available - "+str(avail_slots)
    #recipients = ['gopishmundada@gmail.com', 'bittumundada@gmail.com']
    message = """\
Subject: Vaccine_Alert_Jalna

Hello,
Please find below details for vaccines
    
pincode - """+exe_msg
    print(message)

    # sending the mail
    #s.sendmail("mundadaga@gmail.com", recipients, message)

In [91]:
def create_msg(jsonData,pin_code):
    avail_data_45=avail_data_18=0
    for x in range (len(jsonData['centers'])):
        for y in range (len(jsonData['centers'][x]['sessions'])):
            if jsonData['centers'][x]['sessions'][y]['min_age_limit'] == 45:
                avail_data_45+=1
            else:
                avail_data_18+= jsonData['centers'][x]['sessions'][y]['available_capacity']
            #send_email(msg)'''
    if avail_data_18 > 0:
        send_email(pin_code,"18+",avail_data_18)
    if avail_data_45 >= 0:
        print(avail_data_45)
        send_email(pin_code,"45+",avail_data_45)

In [92]:
df = pd.read_sql_query('select distinct pincode from subscribers',con=conn)
for i,row in df.iterrows():
    try:
        pin_code = str(row['pincode'])
        base_today = (datetime.datetime.today()).strftime("%d-%m-%Y")
        data_today  = fetchData(pin_code,base_today)
        jsonData = data_today.json()
        create_msg(jsonData,pin_code)
    except:
        print("",end='')

0
Subject: Vaccine_Alert_Jalna

Hello,
Please find below details for vaccines

pincode - 134203
Age group - 45+
Slots available - 0
3
Subject: Vaccine_Alert_Jalna

Hello,
Please find below details for vaccines

pincode - 431203
Age group - 45+
Slots available - 3

In [69]:
#s.quit()

In [11]:
df = pd.read_sql_query('select * from subscriber_pincode',con=conn)
#df = df.groupby('pincode').email.agg([('email', ",".join)])
#df = df.loc[(df['pincode'] == '431203')]
df

   subscriber_id  pincode
0             23   431203
1             24   431203
2             25   431203
3             26   431203